Source: gfxboot-themes-aptosid
Section: misc
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Uploaders: David Creedy <klaymen@aptosid.com>,
 Niall Walsh <niallwalsh@users.berlios.de>
Build-Depends: debhelper (>= 9.20120115),
 cpio,
 gfxboot-dev (>= 4.5.0),
 imagemagick,
 inkscape,
 quilt (>= 0.46-7),
 ttf-dejavu-core,
 ttf-dustin
Standards-Version: 3.9.3
Homepage: http://gfxboot.sourceforge.net/
Vcs-Svn: svn://svn.berlios.de/fullstory/gfxboot-themes-aptosid/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/gfxboot-themes-aptosid/trunk/

Package: gfxboot-themes-aptosid-void-core
Architecture: all
Depends: ${misc:Depends}
Recommends: gfxboot-themes-aptosid-void (= ${source:Version})
Provides: gfxboot-themes-aptosid-core
Description: graphical boot logos for aptosid ασάφεια
 boot logos for gfxboot compliant boot loaders. Currently, this includes
 grub-gfxboot and syslinux (all payloads).
 .
 This package contains the aptosid 0-0 "ασάφεια" theme.

Package: gfxboot-themes-aptosid-void
Architecture: all
Depends: ${misc:Depends},
 gfxboot (>= 4.3.5),
 gfxboot-themes-aptosid-void-core (= ${source:Version})
Recommends: gfxboot-dev
Provides: gfxboot-theme
Description: tool to test and create graphical boot logos (aptosid ασάφεια)
 gfxboot is a tool to test and create graphical boot logos for gfxboot compliant
 boot loaders. Currently, this includes grub, lilo, and syslinux (all payloads).
 .
 This package enhances the aptosid 0-0 "ασάφεια" theme.

Package: gfxboot-themes-aptosid-keres-core
Architecture: all
Depends: ${misc:Depends}
Recommends: gfxboot-themes-aptosid-keres (= ${source:Version})
Provides: gfxboot-themes-aptosid-core
Description: graphical boot logos for aptosid Κῆρες
 boot logos for gfxboot compliant boot loaders. Currently, this includes
 grub-gfxboot and syslinux (all payloads).
 .
 This package contains the aptosid 2010-02 "Κῆρες" theme.

Package: gfxboot-themes-aptosid-keres
Architecture: all
Depends: ${misc:Depends},
 gfxboot (>= 4.3.5),
 gfxboot-themes-aptosid-keres-core (= ${source:Version})
Recommends: gfxboot-dev
Provides: gfxboot-theme
Description: tool to test and create graphical boot logos (aptosid Κῆρες)
 gfxboot is a tool to test and create graphical boot logos for gfxboot compliant
 boot loaders. Currently, this includes grub, lilo, and syslinux (all payloads).
 .
 This package enhances the aptosid 2010-02 "Κῆρες" theme.

Package: gfxboot-themes-aptosid-apate-core
Architecture: all
Depends: ${misc:Depends}
Recommends: gfxboot-themes-aptosid-apate (= ${source:Version})
Provides: gfxboot-themes-aptosid-core
Description: graphical boot logos for aptosid Ἀπάτη
 boot logos for gfxboot compliant boot loaders. Currently, this includes
 grub-gfxboot and syslinux (all payloads).
 .
 This package contains the aptosid 2010-03 "Ἀπάτη" theme.

Package: gfxboot-themes-aptosid-apate
Architecture: all
Depends: ${misc:Depends},
 gfxboot (>= 4.3.5),
 gfxboot-themes-aptosid-apate-core (= ${source:Version})
Recommends: gfxboot-dev
Provides: gfxboot-theme
Description: tool to test and create graphical boot logos (aptosid Ἀπάτη)
 gfxboot is a tool to test and create graphical boot logos for gfxboot compliant
 boot loaders. Currently, this includes grub, lilo, and syslinux (all payloads).
 .
 This package enhances the aptosid 2010-03 "Ἀπάτη" theme.

Package: gfxboot-themes-aptosid-geras-core
Architecture: all
Depends: ${misc:Depends}
Recommends: gfxboot-themes-aptosid-geras (= ${source:Version})
Provides: gfxboot-themes-aptosid-core
Description: graphical boot logos for aptosid Γῆρας
 boot logos for gfxboot compliant boot loaders. Currently, this includes
 grub-gfxboot and syslinux (all payloads).
 .
 This package contains the aptosid 2011-01 "Γῆρας" theme.

Package: gfxboot-themes-aptosid-geras
Architecture: all
Depends: ${misc:Depends},
 gfxboot (>= 4.3.5),
 gfxboot-themes-aptosid-geras-core (= ${source:Version})
Recommends: gfxboot-dev
Provides: gfxboot-theme
Description: tool to test and create graphical boot logos (aptosid Γῆρας)
 gfxboot is a tool to test and create graphical boot logos for gfxboot compliant
 boot loaders. Currently, this includes grub, lilo, and syslinux (all payloads).
 .
 This package enhances the aptosid 2011-01 "Γῆρας" theme.

Package: gfxboot-themes-aptosid-imera-core
Architecture: all
Depends: ${misc:Depends}
Recommends: gfxboot-themes-aptosid-imera (= ${source:Version})
Provides: gfxboot-themes-aptosid-core
Description: graphical boot logos for aptosid Ἡμέρα
 boot logos for gfxboot compliant boot loaders. Currently, this includes
 grub-gfxboot and syslinux (all payloads).
 .
 This package contains the aptosid 2011-02 "Ἡμέρα" theme.

Package: gfxboot-themes-aptosid-imera
Architecture: all
Depends: ${misc:Depends},
 gfxboot (>= 4.3.5),
 gfxboot-themes-aptosid-imera-core (= ${source:Version})
Recommends: gfxboot-dev
Provides: gfxboot-theme
Description: tool to test and create graphical boot logos (aptosid Ἡμέρα)
 gfxboot is a tool to test and create graphical boot logos for gfxboot compliant
 boot loaders. Currently, this includes grub, lilo, and syslinux (all payloads).
 .
 This package enhances the aptosid 2011-02 "Ἡμέρα" theme.

Package: gfxboot-themes-aptosid-ponos-core
Architecture: all
Depends: ${misc:Depends}
Recommends: gfxboot-themes-aptosid-ponos (= ${source:Version})
Provides: gfxboot-themes-aptosid-core
Description: graphical boot logos for aptosid Πόνος
 boot logos for gfxboot compliant boot loaders. Currently, this includes
 grub-gfxboot and syslinux (all payloads).
 .
 This package contains the aptosid 2011-03 "Πόνος" theme.

Package: gfxboot-themes-aptosid-ponos
Architecture: all
Depends: ${misc:Depends},
 gfxboot (>= 4.3.5),
 gfxboot-themes-aptosid-ponos-core (= ${source:Version})
Recommends: gfxboot-dev
Provides: gfxboot-theme
Description: tool to test and create graphical boot logos (aptosid Πόνος)
 gfxboot is a tool to test and create graphical boot logos for gfxboot compliant
 boot loaders. Currently, this includes grub, lilo, and syslinux (all payloads).
 .
 This package enhances the aptosid 2011-03 "Πόνος" theme.

Package: gfxboot-themes-aptosid-thanatos-core
Architecture: all
Depends: ${misc:Depends}
Recommends: gfxboot-themes-aptosid-thanatos (= ${source:Version})
Provides: gfxboot-themes-aptosid-core
Description: graphical boot logos for aptosid Θάνατος
 boot logos for gfxboot compliant boot loaders. Currently, this includes
 grub-gfxboot and syslinux (all payloads).
 .
 This package contains the aptosid 2012-01 "Θάνατος" theme.

Package: gfxboot-themes-aptosid-thanatos
Architecture: all
Depends: ${misc:Depends},
 gfxboot (>= 4.3.5),
 gfxboot-themes-aptosid-thanatos-core (= ${source:Version})
Recommends: gfxboot-dev
Provides: gfxboot-theme
Description: tool to test and create graphical boot logos (aptosid Θάνατος)
 gfxboot is a tool to test and create graphical boot logos for gfxboot compliant
 boot loaders. Currently, this includes grub, lilo, and syslinux (all payloads).
 .
 This package enhances the aptosid 2012-01 "Θάνατος" theme.

Package: gfxboot-themes-aptosid-hesperides-core
Architecture: all
Depends: ${misc:Depends}
Recommends: gfxboot-themes-aptosid-hesperides (= ${source:Version})
Provides: gfxboot-themes-aptosid-core
Description: graphical boot logos for aptosid Ἑσπερίδες
 boot logos for gfxboot compliant boot loaders. Currently, this includes
 grub-gfxboot and syslinux (all payloads).
 .
 This package contains the aptosid 2013-01 "Ἑσπερίδες" theme.

Package: gfxboot-themes-aptosid-hesperides
Architecture: all
Depends: ${misc:Depends},
 gfxboot (>= 4.3.5),
 gfxboot-themes-aptosid-hesperides-core (= ${source:Version})
Recommends: gfxboot-dev
Provides: gfxboot-theme
Description: tool to test and create graphical boot logos (aptosid Ἑσπερίδες)
 gfxboot is a tool to test and create graphical boot logos for gfxboot compliant
 boot loaders. Currently, this includes grub, lilo, and syslinux (all payloads).
 .
 This package enhances the aptosid 2013-01 "Ἑσπερίδες" theme.

