#!/usr/bin/make -f

SHELL := sh -e

%:
	dh ${@} --with quilt

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build

override_dh_auto_build:
	cp -a themes build
	$(MAKE) -C build/openSUSE/help-install
	for THEME in `cd build && ls`; do \
		if [ "$${THEME}" != "openSUSE" ]; then \
			inkscape -z \
				--export-width=800 \
				--export-height=600 \
				--export-dpi=72 \
				--export-png=build/$${THEME}/data-install/welcome.png \
					build/$${THEME}/data-install/welcome.svg; \
			convert -compress JPEG build/$${THEME}/data-install/welcome.png build/$${THEME}/data-install/welcome.jpg; \
			inkscape -z \
				--export-width=146 \
				--export-height=240 \
				--export-dpi=72 \
				--export-png=build/$${THEME}/data-install/text.png \
					build/$${THEME}/data-install/text.svg; \
			convert -compress JPEG build/$${THEME}/data-install/text.png build/$${THEME}/data-install/text.jpg; \
			inkscape -z \
				--export-width=800 \
				--export-height=600 \
				--export-dpi=72 \
				--export-png=build/$${THEME}/data-install/back.png \
					build/$${THEME}/data-install/back.svg; \
			convert -compress JPEG build/$${THEME}/data-install/back.png build/$${THEME}/data-install/back.jpg; \
			inkscape -z \
				--export-width=800 \
				--export-height=600 \
				--export-dpi=72 \
				--export-png=build/$${THEME}/data-boot/back.png \
					build/$${THEME}/data-boot/back.svg; \
			convert -compress JPEG build/$${THEME}/data-boot/back.png build/$${THEME}/data-boot/back.jpg; \
			rm -f	build/$${THEME}/data-install/welcome.svg \
				build/$${THEME}/data-install/welcome.png \
				build/$${THEME}/data-install/text.svg \
				build/$${THEME}/data-install/text.png \
				build/$${THEME}/data-install/back.svg \
				build/$${THEME}/data-install/back.png \
				build/$${THEME}/data-boot/back.svg \
				build/$${THEME}/data-boot/back.png; \
			$(MAKE) -C build/$${THEME}; \
		fi; \
	done

override_dh_install:
	dh_install
	for THEME in `cd themes && ls`; do \
		if [ "$${THEME}" != "openSUSE" ]; then \
			PACKAGE="gfxboot-themes-sidux-`echo $${THEME} | tr [A-Z] [a-z]`"; \
			mkdir -p debian/$${PACKAGE}/usr/share/gfxboot/themes; \
			cp -a themes/openSUSE debian/$${PACKAGE}/usr/share/gfxboot/themes/$${THEME}; \
			cd themes/$${THEME}; \
			find . | cpio -dmpu --no-preserve-owner ../../debian/$${PACKAGE}/usr/share/gfxboot/themes/$${THEME}; \
			cd -; \
			rm -f debian/$${PACKAGE}/usr/share/gfxboot/themes/$${THEME}/Makefile; \
			cp -a themes/openSUSE/Makefile debian/$${PACKAGE}/usr/share/gfxboot/themes/$${THEME}/Makefile; \
			install -D -m 0644 build/$${THEME}/bootlogo debian/$${PACKAGE}-core/etc/bootsplash/themes/$${THEME}/cdrom/bootlogo; \
			/usr/share/gfxboot/bin/unpack_bootlogo debian/$${PACKAGE}-core/etc/bootsplash/themes/$${THEME}/cdrom; \
			mkdir -p debian/$${PACKAGE}/etc/bootsplash/themes/$${THEME}/bootloader; \
			cp -a build/$${THEME}/help-boot/*.hlp build/$${THEME}/po/*.tr debian/$${PACKAGE}/etc/bootsplash/themes/$${THEME}/bootloader; \
			mkdir -p debian/$${PACKAGE}-core/etc/bootsplash/themes/$${THEME}/bootloader; \
			cp -a build/$${THEME}/message debian/$${PACKAGE}-core/etc/bootsplash/themes/$${THEME}/bootloader/; \
		fi; \
	done

override_dh_fixperms:
	dh_fixperms
	find . debian -name "*.xcf" | xargs chmod 0644
