#!/usr/bin/make -f

SHELL := sh -e

%:
	dh ${@} --with quilt

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build

override_dh_auto_build:
	cp -a themes build
	$(MAKE) -C build/openSUSE/help-install
	for _THEME in $$(cd build && ls); do \
		if [ "$${_THEME}" != "openSUSE" ]; then \
			inkscape -z \
				--export-width=800 \
				--export-height=600 \
				--export-dpi=72 \
				--export-png=build/$${_THEME}/data-install/welcome.png \
					build/$${_THEME}/data-install/welcome.svg; \
			convert -compress JPEG -type TrueColor build/$${_THEME}/data-install/welcome.png build/$${_THEME}/data-install/welcome.jpg; \
			inkscape -z \
				--export-width=146 \
				--export-height=240 \
				--export-dpi=72 \
				--export-png=build/$${_THEME}/data-install/text.png \
					build/$${_THEME}/data-install/text.svg; \
			convert -compress JPEG -type TrueColor build/$${_THEME}/data-install/text.png build/$${_THEME}/data-install/text.jpg; \
			inkscape -z \
				--export-width=800 \
				--export-height=600 \
				--export-dpi=72 \
				--export-png=build/$${_THEME}/data-install/back.png \
					build/$${_THEME}/data-install/back.svg; \
			convert -compress JPEG -type TrueColor build/$${_THEME}/data-install/back.png build/$${_THEME}/data-install/back.jpg; \
			inkscape -z \
				--export-width=800 \
				--export-height=600 \
				--export-dpi=72 \
				--export-png=build/$${_THEME}/data-boot/back.png \
					build/$${_THEME}/data-boot/back.svg; \
			convert -compress JPEG -type TrueColor build/$${_THEME}/data-boot/back.png build/$${_THEME}/data-boot/back.jpg; \
			rm -f	build/$${_THEME}/data-install/welcome.svg \
				build/$${_THEME}/data-install/welcome.png \
				build/$${_THEME}/data-install/text.svg \
				build/$${_THEME}/data-install/text.png \
				build/$${_THEME}/data-install/back.svg \
				build/$${_THEME}/data-install/back.png \
				build/$${_THEME}/data-boot/back.svg \
				build/$${_THEME}/data-boot/back.png; \
			$(MAKE) -C build/$${_THEME}; \
		fi; \
	done

override_dh_install:
	dh_install
	for _THEME in $$(cd build && ls); do \
		if [ "$${_THEME}" != "openSUSE" ]; then \
			PACKAGE="gfxboot-themes-aptosid-`echo $${_THEME} | tr [A-Z] [a-z]`"; \
			mkdir -p debian/$${PACKAGE}/usr/share/gfxboot/themes; \
			cp -a themes/openSUSE debian/$${PACKAGE}/usr/share/gfxboot/themes/$${_THEME}; \
			cd themes/$${_THEME}; \
			find . | cpio -dmpu --no-preserve-owner ../../debian/$${PACKAGE}/usr/share/gfxboot/themes/$${_THEME}; \
			cd -; \
			rm -f debian/$${PACKAGE}/usr/share/gfxboot/themes/$${_THEME}/Makefile; \
			cp -a themes/openSUSE/Makefile debian/$${PACKAGE}/usr/share/gfxboot/themes/$${_THEME}/Makefile; \
			install -D -m 0644 build/$${_THEME}/bootlogo debian/$${PACKAGE}-core/etc/bootsplash/themes/$${_THEME}/cdrom/bootlogo; \
			/usr/share/gfxboot/bin/unpack_bootlogo debian/$${PACKAGE}-core/etc/bootsplash/themes/$${_THEME}/cdrom; \
			mkdir -p debian/$${PACKAGE}-core/etc/bootsplash/themes/$${_THEME}/bootloader; \
			cp -a build/$${_THEME}/message build/$${_THEME}/help-boot/*.hlp build/$${_THEME}/po/*.tr debian/$${PACKAGE}-core/etc/bootsplash/themes/$${_THEME}/bootloader; \
		fi; \
	done

override_dh_fixperms:
	dh_fixperms
	find . debian -name "*.xcf" | xargs chmod 0644

override_dh_builddeb:
	dh_builddeb  -- -Zbzip2 -z9
